*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    background-color:#E5E5FD ;
    min-height: 100vh;
    border:20px solid #1d1e4c;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.section_container{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: flex-end;
}
.img_container{
    border-radius: 50%;
    overflow: hidden;

}
.section_container h1{
    font-size: 50px;
    font-weight: bold;
    color:#1d1e4c;
    text-transform: uppercase;
}
.section_container h4{
    font-size: 20px;
    text-align: end;
}
.about_section{
    margin-top: 50px;
}
.about_section h1{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 35px;
}
.about_section p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
}
.Awards h2{
    margin-top: 30px;
    font-weight: 600;
    margin-bottom: 13px;
}
.Awards p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
}
.biography_section h2{
    margin-top: 30px;
    font-weight: 600;
    margin-bottom: 13px;
}
.biography_section ul{
    margin-left: 40px;
}
.biography_section li{
    margin-bottom: 20px; 
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
footer p{
    text-align: end;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 20px;
}

@media screen and (max-width:800px) {
    .section_container h1{
        font-size: 40px;
        font-weight: bold;
        color:#1d1e4c;
        text-transform: uppercase;
        text-align: center;
    }
    .section_container h4{
        font-size: 20px;
        text-align: center;
        padding-top:10px;
    }
    .img_container{
        border-radius: 60%;
        overflow: hidden;
        margin-left: 25px;
    
    }
    .about_section{
        margin-top: 50px;
        margin-left: 28px;
        margin-right: 28px;
    }
    .Awards h2{
        margin-top: 30px;
        font-weight: 600;
        margin-bottom: 13px;
        margin-left: 28px;
        margin-right: 28px;
    }
    .Awards p{
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        text-align: justify;
        margin-left: 28px;
        margin-right: 28px;
    }
    .biography_section h2{
        margin-top: 30px;
        font-weight: 600;
        margin-bottom: 13px;
        margin-left: 28px;
        margin-right: 28px;
    }
    .biography_section ul{
        margin-left: 40px;
        margin-left: 28px;
        margin-right: 28px;
    }
    .biography_section li{
        margin-bottom: 20px; 
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        margin-left: 28px;
        margin-right: 28px;
    }
    footer p{
        text-align: end;
        font-weight: 600;
        margin-bottom: 20px;
        font-size: 20px;
        margin-right: 20px;
    }
}

